{% extends "base.html" %}

{% block nav %}
<div class="nav">
    <div class="container">
        <ul class="pull-right">
            <li><a href = '/'>Home</a></li>
            <li><a>Dashboard</a></li>
            <li><a href='/logout'>Log out</a></li>
        </ul>
    </div>
</div>

{% endblock %}
{% block body %}
<div class="jumbotron">
 <h2>Dream Tracker</h2>
    <p>Track your dreams and ambitions</p>
        <ul>
            <li><a href="/create_bucketlist"><button class="btn btn-sm">Create Bucketlist</button></a></li>
            <p></p>
            <li><a href="/bucketlists"><button class="btn btn-sm">View Bucketlists</button></a></li>
            <p></p>
            <li><a href="#"><button class="btn btn-sm"> Edit your Profile </button></a></li>
           
        </ul>
</div>
{% endblock %}